

<nav>
        <input type="checkbox" id="hamburger" name="hamburger">
        <label for="hamburger" class="icon-menu"></label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="new.ejs">New Post</a></li>
        </ul>
    </nav>