<nav>
    <input type="checkbox" id="hamburger" name="hamburger">
    <label for="hamburger" class="fas fa-bars"></label>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/new"><i class="fas fa-pen"></i> New Post</a></li>
        <li><a href="/about"><i class="fas fa-user"></i> About</a></li>
    </ul>
</nav>