
    <main>
            <div>
                <h1>Instructions</h1>
                <div>
                    Mood-Fellows is pretty easy to use. Simply write your thought in the entry box below. And submit it, your post is anonomyus so don't worry about other people reading or judging you for what you say. We will however catergorize your response by the your mood. We do that by using a special google API that reads and analyzes how you are feeling. It's pretty cool! 
                </div>
                <div>
                    <form method="POST" action="new"></form>
                    <label>Share your thoughts</label>
                    <input type="text" name="description" id="description" value="Enter Comment Here" />
                    <input type="submit" value="Submit" class="button">
                 </div>
                 
                <div>
                    <p>
                        If you want to edit or delete your post, please save the ID given.
                    </p>
                </div> 
            </div>
        </main>