<ul>
    <li class="post-card positive">
        <p class="speech-bubble"> My name is Brai. blah blah blah</p>
        <img class="profile-image" src="images/brai.jpg">
    </li>
    <li class="post-card neutral">
        <p class="speech-bubble"> My name is Hannah. blah blah blah</p>
        <img class="profile-image" src="images/hannah.jpg">
    </li>
    <li class="post-card negative">
        <p class="speech-bubble"> My name is Katherine. blah blah blah</p>
        <img class="profile-image" src="images/katherine.jpg">
    </li>
</ul>
