<h2>About Mood Fellows</h2>
<p>For information about the project, visit the <a href="https://github.com/ksmith10309/mood-fellows">Github Repo</a></p>
<ul>
    <li class="post-card positive">
        <p class="speech-bubble">I'm Brai. I’m a Junior Software Dev. I love creating and designing sites. In my free time you’ll find me ether at a art gallery checking out new work or find me a flea market scoring cool vintage items.</p>
        <img class="profile-image" src="images/brai.jpg">
    </li>
    <li class="post-card neutral">
        <p class="speech-bubble">I'm Hannah. I was born and raised in Seattle. I graduated from the University of Washington with a degree in linguistics and Japanese, and I'm now studying software development at Code Fellows. In my off time, I enjoy reading technical books, playing video games, hiking, bouldering, and playing with my five pet parrots and dog.</p>
        <img class="profile-image" src="images/hannah.jpg">
    </li>
    <li class="post-card negative">
        <p class="speech-bubble">I'm Katherine. For the past 3 years, I worked in the veterinary field, first as a vet assistant and then as a vet tech. Before that, I was in the Air Force for 4 years where I worked as a weather forecaster. I also have a degree in Aeronautical Science and Engineering from the University of California, Davis. 
        </p>
        <img class="profile-image" src="images/katherine.jpg">
    </li>
</ul>
