<p>For information about the project, visit the <a href="https://github.com/ksmith10309/mood-fellows">Github Repo</a></p>
<ul>
    <li class="post-card positive">
        <p class="speech-bubble"> My name is Brai. blah blah blah</p>
        <img class="profile-image" src="images/brai.jpg">
    </li>
    <li class="post-card neutral">
        <p class="speech-bubble">I'm Hannah. I was born and raised in Seattle. I graduated from the University of Washington with a degree in linguistics and Japanese, and I'm now studying software development at Code Fellows. In my off time, I enjoy reading technical books, playing video games, hiking, bouldering, and playing with my five pet parrots and dog.</p>
        <img class="profile-image" src="images/hannah.jpg">
    </li>
    <li class="post-card negative">
        <p class="speech-bubble"> My name is Katherine. blah blah blah</p>
        <img class="profile-image" src="images/katherine.jpg">
    </li>
</ul>
