<h2>Post Submitted</h2>
<p>Your post has been submitted! Here it is:</p>

<ul>
    <% posts.forEach ( post => { %>
        <li class="post-card <%- post.avatar %>">
            <p class="speech-bubble"> <%= post.content %> </p>
            <img src="<%- '../images/' + post.avatar + '.png' %>">
        </li>
    <% }); %>
</ul>

<p>Your password is: <%= posts[0].secretId %></p>

<p>Go <a href="/">home</a></p>