* {
    box-sizing: border-box;
}

body {
    background-color:rgba(58, 80, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a, a:hover {
    text-decoration: none;
    color: rgb(8, 0, 255);
}

a:hover, a:active {
	color: rgb(190, 59, 19);
}

p {
	margin: 1em 0;
	line-height: 1.5;
}

@media (min-width: 960px) {
	.content-p {
		width: 80%;
		margin: 0 auto;
	}
}

form {
	margin: 0 auto;
}

@media (min-width: 960px) {
	form {
		max-width: 60%;
	}
}

input {
	display: block;
}

input, textarea {
	font-size: 1em;
	padding: .5em;
	width: 100%;
	margin: 1em auto;
}

input[type="text"],
textarea {
	font-family: serif;
}

input[type="submit"] {
	max-width: 40%;
	border-radius: 3px;
	-webkit-appearance: none;
	color: white;
	background-color: rgba(58, 80, 124, 1);
	border: none;
	box-shadow: none;
}

input[type="submit"]:hover {
	background-color: rgb(190, 59, 19);
}