* {
    box-sizing: border-box;
}

body {
    background-color:rgba(58, 80, 124, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a, a:hover, a:active {
    text-decoration: none;
    color: rgba(162, 62, 72, 1);
}

.green-right {
    position: relative;
    background: lightgreen;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-left: 30px;
    padding: 5px;
}

.green-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: lightgreen;
	border-left: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-left: -34px;
}

.green-left {
    position: relative;
    background: lightgreen;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-right: 30px;
    padding: 5px;
}

.green-left:after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: lightgreen;
	border-right: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-right: -34px;
}

.yellow-right {
    position: relative;
    background: lightyellow;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-left: 30px;
    padding: 5px;
}

.yellow-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: lightyellow;
	border-left: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-left: -34px;
}

.yellow-left {
    position: relative;
    background: lightyellow;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-right: 30px;
    padding: 5px;
}

.yellow-left:after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: lightyellow;
	border-right: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-right: -34px;
}

.red-right {
    position: relative;
    background: lightpink;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-left: 30px;
    padding: 5px;
}

.red-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: lightpink;
	border-left: 0;
	border-bottom: 0;
	margin-top: -17px;
	margin-left: -34px;
}

.red-left {
    position: relative;
    background: lightpink;
    border-radius: .4em;
    min-height: 100px;
    width: 65%;
    margin-right: 30px;
    padding: 5px;
}

.red-left:after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: lightpink;
	border-right: 0;
	border-bottom: 0;
	margin-top: -17px;
    margin-right: -34px;
}

.post-card {
    margin: 0 auto 40px auto;
}

.post-card img {
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.post-card p {
    display: inline-block;
    vertical-align: middle;
}
