/* Coolors Exported Palette - coolors.co/f2f3ae-347534-fc9e4f-ff521b-020122 */

/* HSL */
$color1: hsla(61%, 74%, 82%, 1);
$color2: hsla(120%, 38%, 33%, 1);
$color3: hsla(27%, 97%, 65%, 1);
$color4: hsla(14%, 100%, 55%, 1);
$color5: hsla(242%, 94%, 7%, 1);

/* RGB */
$color1: rgba(242, 243, 174, 1);
$color2: rgba(52, 117, 52, 1);
$color3: rgba(252, 158, 79, 1);
$color4: rgba(255, 82, 27, 1);
$color5: rgb(40, 37, 133);