/* header */

header {
    background-color:white;
    color: white;
    font-size: 1.5em;
    overflow: hidden;
    padding: .5em;
    font-family: Bungee Shade;
}

/* header - h1 */

header h1 {
    float: left;
}

header h1 a {
    color: black;
}

/* header - nav */

header nav input,
header nav label,
header nav ul {
  float: right;
}

header nav ul {
    display: none;
}

header nav ul li {
    display: block;
}

header nav input {
    display: none;
}

header nav input:checked ~ ul {
    display: block;
}

/* header - nav (desktop) */

@media screen and (min-width: 960px) {
    header nav ul {
        display: block;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav label.fas {
        display: none;
    }
}
    

/* new post page */
    h2{
        font-size: 2em;
        text-align: center;
        padding-bottom: 20px;
        font-family: IM Fell Double Pica SC;
    }
    main{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .card-column {
        width: 600px;
        margin: 0 auto;
        text-align: center;

 
    }
    input{
        
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        margin: .5em 0;
        padding: .5em;
        width: 96.093%;
        margin-left: 40px;
        margin-right: 50px;
    }
    
    textarea {
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 50px;
        padding: .5em;
        width: 96.093%;
    }

    .fir-p {
        margin: auto;
        width: 700px;
        border-color:black;
    }
   
/* about page */
.profile-image {
    border-radius: 50%;
}