/* header */

header {
    background-color:white;
    color: white;
    font-size: 1.5em;
    overflow: hidden;
    padding: .5em;
    font-family: Bungee Shade;
}

/* header - h1 */

header h1 {
    float: left;
}

header h1 a {
    color: black;
}

/* header - nav */

header nav label {
    color: black;
}

header nav input,
header nav label,
header nav ul {
  float: right;
}

header nav ul {
    display: none;
}

header nav ul li {
    display: block;
}

header nav input {
    display: none;
}

header nav input:checked ~ ul {
    display: block;
}

h2{
    font-size: 2em;
    text-align: center;
    font-family: IM Fell Double Pica SC;
}

/* header - nav (desktop) */

@media screen and (min-width: 960px) {
    header nav ul {
        display: block;
    }

    header nav ul li {
        display: inline-block;
    }

    header nav label.fas {
        display: none;
    }
}

/* main */

main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    

/* new post page */

.form-p {
    text-align: center;
}
 
/* about page */

.profile-image {
    border-radius: 50%;
}