/* homepage - date/edit/delete buttons */

.date-edit p {
    margin: 0;
}

.date-edit {
    overflow: hidden;
}

.date-edit p:nth-child(1) {
    float: left;
}

.date-edit p:nth-child(2) {
    float: right;
}

@media screen and (min-width: 960px) {
    .post-card:nth-child(2n + 1) .date-edit p:nth-child(1) {
        margin-left: 140px;
    }

    .post-card:nth-child(2n) .date-edit p:nth-child(2) {
        margin-right: 140px;
    }
}

/* homepage - speech bubbles */

.speech-bubble {
    margin: 0;
}

.post-card {
    overflow: hidden;
    margin: 1em 0;
}

.post-card .speech-bubble {
    padding: 1em;
	position: relative;
    border-radius: .4em;
    min-height: 120px;
}

.post-card img {
    height: 120px;
}

.post-card.negative .speech-bubble {
    background: lightpink;
}

.post-card.neutral .speech-bubble {
    background: #ebd270;
}

.post-card.positive .speech-bubble {
    background: lightgreen;
}

.post-card img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 959px) {

    .post-card .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-bottom: 0;
        border-left: 0;
        margin-left: -0.375em;
        margin-bottom: -0.75em;
    }

    .post-card.negative .speech-bubble:after {
        border-top-color: lightpink;
    }
    .post-card.neutral .speech-bubble:after {
        border-top-color: #ebd270;
    }
    .post-card.positive .speech-bubble:after {
        border-top-color: lightgreen;
    }
}

@media screen and (min-width: 960px) {
    .post-card .speech-bubble {
        width: calc(100% - 140px);
    }

    .post-card:nth-child(2n + 1) img,
    .post-card:nth-child(2n) .speech-bubble {
        float: left;
    }

    .post-card:nth-child(2n) img,
    .post-card:nth-child(2n + 1) .speech-bubble {
        float: right;
    }

    .post-card:nth-child(2n) .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-right: 0;
        border-bottom: 0;
        margin-top: -0.375em;
        margin-right: -0.75em;
    }

    .post-card:nth-child(2n + 1) .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-left: 0;
        border-bottom: 0;
        margin-top: -0.375em;
        margin-left: -0.75em;
    }

    .post-card.negative:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: lightpink;
    }
    .post-card.neutral:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: #ebd270;
    }
    .post-card.positive:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: lightgreen;
    }

    .post-card.negative:nth-child(2n) .speech-bubble:after {
        border-left-color: lightpink;
    }
    .post-card.neutral:nth-child(2n) .speech-bubble:after {
        border-left-color: #ebd270;
    }
    .post-card.positive:nth-child(2n) .speech-bubble:after {
        border-left-color: lightgreen;
    }
}