/* homepage - date/edit/delete buttons */

.date-edit p {
    color: rgba(0,0,0,.4);
    margin: 0;
}

.date-edit {
    overflow: hidden;
    font-size: .9em;
}

.date-edit p:nth-child(1) {
    float: left;
}

.date-edit p:nth-child(2) {
    float: right;
}

@media screen and (min-width: 960px) {
    .post-card:nth-child(2n + 1) .date-edit p:nth-child(1) {
        margin-left: 180px;
    }

    .post-card:nth-child(2n) .date-edit p:nth-child(2) {
        margin-right: 180px;
    }
}

/* homepage - speech bubbles */

.speech-bubble {
    margin: 0 0 1em 0;
}

.joke .speech-bubble {
    font-style: italic;
    color: rgba(0,0,0,.6);
}

.post-card {
    overflow: hidden;
    margin: 1em 0 2em 0;
}

.post-card .speech-bubble {
    padding: 1em;
	position: relative;
    border-radius: .4em;
    min-height: 150px;
}

.post-card img {
    height: 150px;
    border-radius: 50%;
}

.post-card.negative .speech-bubble {
    background: #f1c5c0;
}

.post-card.neutral .speech-bubble {
    background: #eee7aa;
}

.post-card.positive .speech-bubble {
    background: #bbf49f;
}

.post-card.joke .speech-bubble {
    background: #c7cfe1;
}

.post-card img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 959px) {

    .speech-bubble {
        margin: 0 0 2em 0;
    }

    .post-card .speech-bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-bottom: 0;
        border-left: 0;
        margin-left: -0.375em;
        margin-bottom: -0.75em;
    }

    .post-card.negative .speech-bubble:after {
        border-top-color: #f1c5c0;
    }
    .post-card.neutral .speech-bubble:after {
        border-top-color: #eee7aa;
    }
    .post-card.positive .speech-bubble:after {
        border-top-color: #bbf49f;
    }
    .post-card.joke .speech-bubble:after {
        border-top-color: #c7cfe1;
    }
}

@media screen and (min-width: 960px) {
    .post-card .speech-bubble {
        width: calc(100% - 180px);
    }

    .post-card:nth-child(2n + 1) img,
    .post-card:nth-child(2n) .speech-bubble {
        float: left;
    }

    .post-card:nth-child(2n) img {
        transform: scaleX(-1);
    }

    .post-card:nth-child(2n) img,
    .post-card:nth-child(2n + 1) .speech-bubble {
        float: right;
    }

    .post-card:nth-child(2n) .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 100px;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-right: 0;
        border-bottom: 0;
        margin-top: -0.375em;
        margin-right: -0.75em;
    }

    .post-card:nth-child(2n + 1) .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-left: 0;
        border-bottom: 0;
        margin-top: -0.375em;
        margin-left: -0.75em;
    }

    .post-card.negative:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: #f1c5c0;
    }
    .post-card.neutral:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: #eee7aa;
    }
    .post-card.positive:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: #bbf49f;
    }
    .post-card.joke:nth-child(2n + 1) .speech-bubble:after {
        border-right-color: #c7cfe1;
    }

    .post-card.negative:nth-child(2n) .speech-bubble:after {
        border-left-color: #f1c5c0;
    }
    .post-card.neutral:nth-child(2n) .speech-bubble:after {
        border-left-color: #eee7aa;
    }
    .post-card.positive:nth-child(2n) .speech-bubble:after {
        border-left-color: #bbf49f;
    }
    .post-card.joke:nth-child(2n) .speech-bubble:after {
        border-left-color: #c7cfe1;
    }
}